@charset "utf-8";
/*reset css 重置样式*/
*,
::before
::after{
    /* 选中所有元素和伪元素 */
    margin: 0;
    padding: 0;
    /* 针对移动端 */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;   /* 主流移动端浏览器兼容 */
    /* 点击高亮效果清楚 */
    -webkit-tap-highlight-color: transparent;
}
body{
    font-size: 14px;
    color: #333;
    font-family: 'Microsoft Yahei',sans-serif;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input, textarea{
    outline: none;
    border: none;
    resize: none;
    /* 清除移动端输入框特有的样式 */
    -webkit-appearance: none;
}

html{
    color: #000;
    background: #FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,form,fieldset,input,textarea,p,blockquote,th,td,span,s{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
em,strong,b,u,i{
    font-style: normal;
    font-weight: normal;
}
ol,ul,li{
    list-style: none;
}
h1,h2,h3{
    font-size: 100%;
    font-weight: normal;
}
input,textarea,select{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;  /*inherit 继承*/
    *font-size:100%;  /*to enable resizing for IE*/
}
img{
    border: 0 none;
}
a{
    text-decoration: none;
}
input{
    border: none;
    outline: none;
}

/*common css 公用样式*/

.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.m_l10{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.div-inline{
    display: inline;
}